/* Configurações globais*/
*{
  margin: 0px;
  padding: 0px; 
  background-color:#F5F4F0 ;
}

#bloco_pagina{
  background-color: #F5F4F0;
  width: 1120px;
  height: 3054px;
}

h1{
  font-family: "Open Sans", serif;
  font-weight: bold;
  font-size: 36px;
  color: #1B1B1B;
}

h3{
  font-family: "Open Sans", serif;
  font-weight: bold;
  font-size: 16px;
  color: #E1624F;
}

h2 {
  font-family: "Open Sans", serif;
  font-weight: bold;
  font-size: 28px;
  color: #1B1B1B;
}


#introduction_page h2{
  font-family: "Open Sans", serif;
  font-weight: bold;
  font-size: 32px;
  color: #1B1B1B;
}

#title_page p{
  font-family: "Open Sans", serif;
  font-style: italic;
  font-size: 16px;
  color: #333333;
  text-align: center;
}

#introduction_page p{
  font-family: "Open Sans", serif;
  font-size: 16px;
  color: #333333;
}

#templo_haedong_yonggungsa p{
  font-family: "Open Sans", serif;
  font-size: 16px;
  color: #333333;
}

#templo_beomeo_sa p{
  font-family: "Open Sans", serif;
  font-size: 16px;
  color: #333333;
}

#parque_yongdusan p {
  font-family: "Open Sans", serif;
  font-size: 16px;
  color: #333333;
}


#templo_haedong_yonggungsa p:last-of-type {
  font-family: "Open Sans", serif;
  font-weight: bold;
  font-size: 16px;
  color: #1E1E1E;
}


#templo_beomeo_sa p:last-of-type {
  font-family: "Open Sans", serif;
  font-weight: bold;
  font-size: 16px;
  color: #1E1E1E;
}

#parque_yongdusan p:last-of-type {
  font-family: "Open Sans", serif;
  font-weight: bold;
  font-size: 16px;
  color: #1E1E1E;
}

#templo_haedong_yonggungsa ul li {
  color: #0C51A7; /* accent-blue */
  font-weight: bold;
  font-size: 16px;
  font-family: "Open Sans", serif;
}


#templo_beomeo_sa ul li {
  color: #0C51A7; /* accent-blue */
  font-weight: bold;
  font-size: 16px;
  font-family: "Open Sans", serif;
}


#parque_yongdusan ul li.option1 {
  color: #591B98; /* accent-purple */
  font-weight: bold;
  font-size: 16px;
  font-family: "Open Sans", serif;
}


#parque_yongdusan ul li.option2 {
  color: #E5245E; /* accent-pink */
  font-weight: bold;
  font-size: 16px;
  font-family: "Open Sans", serif;
}


#parque_yongdusan ul li.option3 {
  color: #E95E10; /* accent-orange */
  font-weight: bold;
  font-size: 16px;
  font-family: "Open Sans", serif;
}


#description{
  font-family:"Open Sans", serif ;
  font-size: 16px;
  color: #333333;
  text-align: center;
}

footer{
  font-size: 16px;
  font-family: "Alice", serif;
  color: #333333;
}

#bloco_pagina{
  margin-top: 88px;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 137px;
}

#title_page h3{
  margin-bottom: 8px;
}

h1{
  margin-bottom: 40px;
}

#title_page img{
  margin-bottom: 24px;
}

#title_page p{
  margin-bottom: 44px;
}

#divisor_01{
  margin-bottom: 64px;
}

#introduction_page h3{
  margin-bottom: 4px;
}


#introduction_page h2{
  margin-bottom: 8px;
}


#introduction_page p{
  margin-bottom: 64px;
}


#templo_haedong_yonggungsa img{
  margin-bottom: 20px;
}

#templo_haedong_yonggungsa h2{
  margin-bottom: 2px;
}

#templo_haedong_yonggungsa h2 +p{
  margin-bottom: 20px;
}

#templo_haedong_yonggungsa ul{
  margin-left: 20px;
  margin-bottom: 57px;
}

#templo_beomeo_sa img{
  margin-bottom: 20px;
}

#templo_beomeo_sa h2{
  margin-bottom: 4px;
}

#templo_beomeo_sa h2 +p{
  margin-bottom: 20px;
}

#templo_beomeo_sa ul{
  margin-left: 20px;
  margin-bottom: 48px;
}


#parque_yongdusan img{
  margin-bottom: 20px;
}


#parque_yongdusan h2{
  margin-bottom: 4px;
}


#parque_yongdusan h2 +p{
  margin-bottom: 20px;
}

#parque_yongdusan ul{
  margin-left: 20px;
  margin-bottom: 40px;
}

#divisor_02{
  margin-bottom: 40px;
}

#description p {
  margin-bottom:56px ;
}

footer{
  margin-left: 537px;
  margin-right: 537px;
  margin-top: 56px;
  margin-bottom: 48px;
}

footer img{
  position: relative;
}

























































